@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
@*    <div class="top-row px-4">
        <a href="http://www.borakasmer.com" target="_blank">borakasmer.com</a>
    </div> *@
    <div class="content px-4">
        @Body
    </div>
</div>
